{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        TVB | {{ title }}
    {% else %}
        {{ _('TVB') }}
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel = "icon"
          href="/static/icon.png"
          type = "image/x-icon">
    <style>
    h5 {
        font-size: 20px;
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
    }
    img {
        border-radius: 5%;
        transition: transform 250ms ease-in-out;
    }
    a img:hover {
        transform: scale(1.05);
    }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" style="float: left; margin-left: 8px; margin-right: 0px" class="navbar-toggler" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" style="padding: 8px;" href="{{ url_for('main.index') }}">
                <img src="/static/tvb.svg" alt="">
            </a>
        </div>
    </nav>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" style="float: left; margin-left: 8px; margin-right: 0px" class="navbar-toggler" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" style="padding: 8px;" href="{{ url_for('main.index') }}">
                <img src="/static/tvb.svg" alt="">
            </a>
            <div style="font-size: 24px;" class="navbar-collapse collapse justify-content-between" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav">
                    <ul class="nav nav-item">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ _('Menu') }}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="font-size: 24px;">
                                <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                                <li><a href="{{ url_for('main.programme') }}">{{ _('Programme') }}</a></li>
                                <li><a href="https://fun.tvb.com/">{{ _('Fun') }}</a></li>
                                <li><a href="{{ url_for('main.forum', sid='index') }}">{{ _('Forum') }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="nav navbar-nav">
                    <ul class="nav nav-item">
                        <li class="px-2"><a href="https://mytvsuper.com/">{{ _('myTV SUPER') }}</a></li>
                        <li class="px-2"><a href="https://www.tvbanywhere.com/">{{ _('TVB Anywhere') }}</a></li>
                        <li class="px-2"><a href="https://www.bigbigshop.com/">{{ _('big big shop') }}</a></li>
                        <li class="px-2"><a href="https://www.bigbigchannel.com.hk/">{{ _('Digital Content') }}</a></li>
                        <li class="px-2"><a href="https://news.tvb.com/">{{ _('TVB news') }}</a></li>
                        <li class="px-2"><a href="http://artiste.tvb.com/main/artistelist">{{ _('artiste') }}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ _('spoiler') }}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for item in spoilers %}
                                    <li>
                                        <a href="{{ item['link'] }}" class="text-dark">{{ item['name'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="px-2"><a href="https://www.tvbeventpower.com.hk/">{{ _('TVB Event Power') }}</a></li>
                        <li class="px-2"><a href="https://corporate.tvb.com/?lang=tc">{{ _('TVB overview') }}</a></li>
                    </ul>
                </div>
                <div class="nav navbar-nav">
                    <ul class="nav nav-item">
                        {% if current_user.is_anonymous %}
                            <li class=""><a href="{{ url_for('auth.login', next=url_for(request.endpoint, **request.view_args)) }}">{{ _('Login') }}</a></li>
                        {% else %}
                            <li class="px-2"><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                            <li class="px-2"><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' or message == login_msg %}
                        <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-info text-center" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# current_application content needs to be provided in the app_content block #}
        {% block current_app_content %}{% endblock %}
    </div>
    <footer class="bg-light text-center text-lg-start" style="background-color: rgba(200, 200, 200, 0.1);">
        <!-- Grid container -->
        <div class="container-fluid">
            <!--Grid row-->
            <div class="row">
                <!-- Icon -->
                <div class="col-lg-2 col-md-2 mb-4 mb-md-0" style="padding: 8px;">
                    <img src="/static/tvb_big.svg" alt="">
                </div>

                <!--相關連結 column-->
                <div class="col-lg-2 col-md-2 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{{ _('Related Link') }}</h5>

                    <ul class="list-unstyled mb-0">
                        {% for item in related_links %}
                            <li>
                                <a href="{{ item['link'] }}" class="text-dark">{{ item['name'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!--關於我們 column-->
                <div class="col-lg-2 col-md-2 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">{{ _('About us') }}</h5>

                    <ul class="list-unstyled">
                        {% for item in about_us %}
                            <li>
                                <a href="{{ item['link'] }}" class="text-dark">{{ item['name'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!--應用程式 column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{{ _('Application') }}</h5>
                    {% for item in applications %}
                        <a target="_blank" href="{{ item['link'] }}" class="text-dark"><img width="48" height="48" src="{{ item['image'] }}" alt=""></a>
                    {% endfor %}
                </div>

                <!--關注我們 column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">{{ _('Follow us') }}</h5>

                    {% for item in follow_us %}
                        <a target="_blank" href="{{ item['link'] }}" class="text-dark"><img width="32" height="32" src="{{ item['image'] }}" alt=""></a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.0);">
            Copyright 2022 Television Broadcasts Limited
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
