{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <style>
    </style>
{% endblock %}

{% block current_app_content %}
    <div class="container-fluid" style="background-image: url(/static/forum/background.jpg);">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <img src="/static/forum/forum.gif" alt="">
                <div style="background: lightgreen;" class="m-1 rounded">
                    <div class="m-3">
                        <h2>>最新討論</h2>
                        <ul>
                        {% for item in latest_posts %}
                            <li><a href="{{ url_for('main.forumpost', pstid=item.id) }}">{{ item.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div style="background: lightblue; font-size: 24px;" class="col-md-5 m-3 rounded">
                <div class="m-3">
                    {% block current_forum_content %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="25%" scope="col"></th>
                                <th scope="col"><h1>{{ title }}</h1></th>
                            </tr>
                            </thead>
                            {% for station in stations %}
                                <tr>
                                    <td>
                                        <img width="100px" height="50px" src="{{ station.avatar(128) }}" alt="">
                                    </td>
                                    <td>
                                        <a href="{{ url_for('main.forum', sid=station['id']) }}"><h2>>{{ station['name'] }}</h2></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary {% if not prev_url %}invisible{% endif %}"
                               href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span> {{ _('Prev') }}
                            </a>
                            <a class="btn btn-primary {% if not next_url %}invisible{% endif %}"
                               href="{{ next_url or '#' }}">
                                {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                            </a>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}