{% extends 'forum.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_forum_content %}
    <h3>
        <a href="{{ url_for('main.forum', sid='index') }}">{{ title }}</a> >
        <a href="{{ url_for('main.forum', sid=station.id) }}">{{ station.name }}</a> >
        <a href="{{ url_for('main.forum', sid=station.id, pid=programme.id) }}">{{ programme.name }}</a>
    </h3>
    {% if form %}
        <div class="mb-2">
            <a href="#reply" class="btn btn-primary" role="button">{{ _('Reply') }}</a>
        </div>
    {% endif %}
    <table class="table" style="font-size: 16px">
        <thead>
            <tr>
                <th style="text-align: center;" width="20%" scope="col"><h3>{{ _('Topic') }}:</h3></th>
                <th width="60%" scope="col"><h3>{{ post.title }}</h3></th>
                <th style="text-align: right"; scope="col"><h3>Time</h3></th>
            </tr>
        </thead>
        {% if not prev_url %}
            <tr>
                <td width="20%" style="text-align: center;">
                    <a href="{{ url_for('main.user', username=post.author_ref.username) }}" target="_blank">
                        <img width="50px" height="50px" src="{{ post.author_ref.avatar(50) }}" alt="">
                        <br>
                        {{ post.author_ref.username }}
                    </a>
                </td>
                <td width="60%">{{ post.body }}</td>
                <td style="text-align: right;">{{ moment(post.date).format('LLL') }}</td>
            </tr>
        {% endif %}
        {% for item in replys %}
            <tr>
                <td width="20%" style="text-align: center;">
                    <a href="{{ url_for('main.user', username=item.author_ref.username) }}" target="_blank">
                        <img width="50px" height="50px" src="{{ item.author_ref.avatar(50) }}" alt="">
                        <br>
                        {{ item.author_ref.username }}
                    </a>
                </td>
                <td width="60%">{{ item.body }}</td>
                <td style="text-align: right;">{{ moment(item.date).format('LLL') }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary {% if not prev_url %}invisible{% endif %}" href="{{ prev_url or '#' }}">
            <span aria-hidden="true">&larr;</span> {{ _('Prev') }}
        </a>
        <a class="btn btn-primary {% if not next_url %}invisible{% endif %}" href="{{ next_url or '#' }}">
            {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
        </a>
    </div>
    {% if form %}
        <div id="reply">{{ wtf.quick_form(form) }}</div>
    {% endif %}
{% endblock %}