{% extends 'base.html' %}

{% block current_app_content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">時間</th>
                {% for item in stations %}
                    <th scope="col">
                        <img width="100px" height="50px" src="{{ item.avatar(128) }}" alt="">
                        <!--{{ item['name'] }}-->
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i in programme_time %}
                <tr>
                    <th scope="row">{{ i }}:00</th>
                    {% for s in programme_list[i] %}
                        <td>
                        {% for r in s %}
                            ({{ r[1].strftime("%H:%M") }}) {{ r[0] }}<br>
                        {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}